* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NeueHaas Bold";
  src: url(./Fonts/NeueHaasDisplayBold.ttf);
}

@font-face {
  font-family: "NeueHaas Medium";
  src: url(./Fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: "NeueHaas Light";
  src: url(./Fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: "NeueHaas Roman";
  src: url(./Fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
  font-family: "NeueHaas Thin";
  src: url(./Fonts/NeueHaasDisplayThin.ttf);
}

@font-face {
  font-family: "NeueHaas XThin";
  src: url(./Fonts/NeueHaasDisplayXThin.ttf);
}

:root {
  --bold: "NeueHaas Bold";
  --Medium: "NeueHaas Medium";
  --Light: "NeueHaas Light";
  --Roman: "NeueHaas Roman";
  --Thin: "NeueHaas Thin";
  --XThin: "NeueHaas XThin";
  --fontcolor: #0b0500;
  --bg: #eeebe3;
  --primarycolor: #ff330b;
  --secondarycolor: #f39c4c;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--fontcolor);
  background-color: var(--bg);
  font-family: var(--Thin);
  overflow-x: hidden;
}

.page1 {
  width: 100%;
  height: 100vh;
  padding: 2vw 2.5vw;
  position: relative;
  z-index: 1;
}

.page1 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: center; */
}

nav .nav-elem {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

nav .nav-elem h4 {
  font-size: 1.05em;
  font-family: var(--Thin);
  letter-spacing: 0.05em;
  border: 1px solid #b0b0b0;
  border-radius: 1.5em;
  padding: 0.7em 1.6em;
  overflow: hidden;
  position: relative;
}

nav .nav-elem h4 a {
  text-decoration: none;
  color: var(--fontcolor);
  position: relative;
  z-index: 10;
}

nav .nav-elem h4:hover a {
  color: var(--bg);
}

.nav-elem h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--fontcolor);
  left: 0;
  bottom: -100%;
  border-radius: 100%;
  transition: all ease 0.3s;
}

.nav-elem h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.page1 .content {
  width: 100%;
  height: 40vw;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.page1 .bottom {
  width: 100%;
  height: 0.1vh;
  background-color: #b0b0b0;
}

.content .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
  padding-bottom: 8vh;
}

.content .left h4 {
  font-size: 1.8em;
  letter-spacing: -0.04em;
  line-height: 1em;
  font-family: var(--Medium);
}

.content .right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 8vh;
}

.content .right h1 {
  font-size: 10em;
  font-family: var(--Medium);
  line-height: 0.8em;
}

.page1 .bulge {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 79vh;
}

.bulge .hero1 {
  background-color: var(--primarycolor);
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}

.bulge .hero2 {
  background: linear-gradient(var(--primarycolor), var(--secondarycolor));
  /* background-color: blue; */
  height: 30vw;
  width: 30vw;
  left: 55vh;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
}

.bulge .hero3 {
  background: linear-gradient(var(--primarycolor), var(--secondarycolor));
  /* background-color:bisque; */
  height: 30vw;
  position: absolute;
  width: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;
}

.bulge .hero4 {
  background: linear-gradient(var(--primarycolor), var(--secondarycolor));
  /* background-color: aqua; */
  height: 30vw;
  position: absolute;
  width: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  top: 12vh;
  left: 60vh;
  z-index: 1;
}

@keyframes anime1 {
  from {
    transform: translate(55%, 10%);
  }

  to {
    transform: translate(-30%, 2%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(15%, -15%);
  }

  to {
    transform: translate(-60%, -7%);
  }
}

.page1 video {
  position: relative;
  border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
  z-index: 10;
}

.page2 {
  min-height: 100vh;
  width: 100%;
  /* background-color: black; */
  position: relative;
  top: 120vh;
  z-index: 0;
}

.page2 .moving-text {
  overflow-x: auto;
  white-space: nowrap;
}

.moving-text .container {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moving-text::-webkit-scrollbar {
  display: none;
}

.moving-text h1 {
  font-size: 9em;
  /* background-color: lightblue; */
  display: inline-block;
  font-family: var(--Medium);
}

.dot {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--primarycolor);
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.page2-bottom {
  height: 80vh;
  width: 100%;
  /* background-color: aliceblue; */
  padding: 4.5vw;
  font-family: var(--Medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

.page2-bottom .left {
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-size: 4.5vw;
  width: 100%;
  line-height: 4.5vw;
  letter-spacing: -0.2vw;
}

.bottom-part2 {
  width: 23%;
  /* background-color: aqua; */
  padding-top: 20vh;
}

.bottom-part2 img {
  width: 100%;
  border-radius: 15px;
}

.bottom-part2 p {
  padding: 0.5em;
  font-family: var(--Thin);
  font-weight: 600;
  margin-top: 2vw;
  font-size: 1.1em;
  line-height: 1.5em;
}

.page2 .circ {
  height: 38vw;
  width: 38vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff712a);
  /* background: linear-gradient(to top right,red,blue); */
  top: 58%;
  left: 25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes gooey {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0);
  }

  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}
